.promo {
  padding: 86px 113px 28px 0;
  background: $bcg-promo;

  &--bottom {
    padding: 30px 50px 40px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      no-repeat url("../img/img/promo-bottom-bcg.webp");
    background-size: cover;

    .promo__heading {
      position: relative;
      top: unset;
      left: unset;
      margin-bottom: 36px;
      padding: 0 50px;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      color: $basic-white;
    }

    .promo__wrapper {
      flex-direction: column;
    }
  }
  @media (max-width: $tablet-width) {
    padding: 10px 0 28px;

    &--bottom {
      padding: 16px 33px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        no-repeat url("../img/img/promo-bottom-bcg-mob.webp");
      background-size: cover;

      .promo__wrapper {
        gap: 16px;
      }

      .promo__heading {
        margin-bottom: 0;
        padding: 0;
        text-align: left;
        font-size: 24px;
        line-height: 29px;
      }

      .promo__form {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.promo__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 40px;
  }
}

.promo__heading {
  position: absolute;
  top: -76px;
  left: 50px;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  color: $main-color;

  @media (max-width: $tablet-width) {
    position: relative;
    top: 0;
    left: 0;
    padding: 0 20px;
    font-size: 32px;
    line-height: 39px;
  }
}

.promo__video-bcg {
  position: relative;
  width: 65%;
  padding-top: 60px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-top: 0;
  }
}

.promo__leaf {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: -30px;
  width: 350px;
  height: 482px;
  background: no-repeat 100% 100% url("../img/img/video-bcg.webp");
  transform: rotate(10deg);

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.promo__video {
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 800px 0 800px 0;

  button {
    z-index: 3;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    width: 80px;
    height: 80px;
    background: $bcg-ceo;
    border-radius: 50%;

    svg {
      margin-left: 8px;
      fill: $basic-white;
    }

    &:hover {
      svg {
        fill: $main-color;
      }
    }
  }

  @media (max-width: $tablet-width) {
    border-radius: 0;
  }
}

.promo__form {
  width: 30%;

  @media (max-width: $tablet-width) {
    width: calc(100% - 60px);
    margin: 0 auto;
  }
}

.form__heading {
  color: $basic-black;
}
