//Colors
$main-color: #0f754e;

$basic-white: #ffffff;
$basic-black: #000000;

$bcg-ceo: #222121;
$bcg-promo: #f6f0e0;

$btn-color: #02aeff;
$btn-color-hover: #1f5cd7;

$color-placeholder: #a0a0a0;

$slider-gap: 40px;

// Viewprts
$tablet-width: 768px;
